<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--[ME] 데이터프로바이더 결정용 변수 : MemoEngine.DSL.SqlDataProvider, MemoEngine.DSL.AccessDataProvider-->
    <add key="DataProvider" value="MemoEngine.DataProviders.SqlDataProvider" />
    <!--[ME] 데이터베이스 연결 문자열 참조 -->
    <add key="ConnectionString" value="ConnectionString" />
    <!--[ME] CKEditor를 사용한 이미지 업로드 용량 제한 : 기본값 : 2MB -->
    <add key="IMAGE_SIZE_LIMIT" value="2048576" />
    <!--[ME] 사이트 전역변수-->
    <add key="SITE_NAME" value="비주얼아카데미" />
    <!--[ME] 게시판/메모장 한페이지에 몇개씩 보여줄건지 -->
    <add key="BOARD_LIST_COUNT" value="20" />
    <!--[ME] 파일 업로드 경로 지정-->
    <add key="FILE_UPLOAD_FOLDER" value="C:\\inetpub\\wwwroot\\BoardFiles\\" />
    <!--[ME] 이미지 업로드 경로 지정-->
    <add key="IMAGE_UPLOAD_FOLDER" value="C:\\inetpub\\wwwroot\\Files\\" />
    <!--[ME] 위 IMAGE_UPLOAD_FOLDER에 대한 가상 디렉터리(응용 프로그램) 경로 : http://www.devlec.com/Files/NOTICE/aaa.jpg -->
    <add key="IMAGE_UPLOAD_URL" value="/Files/" />
    <!--[ME] 관리용 전화번호(SMS 문자 메시지 보낼 때 보내는 사람 번호) -->
    <add key="ADMIN_PHONE_NUMBER" value="010-114" />
    <!--[ME] 관리용 이메일 번호 -->
    <add key="ADMIN_EMAIL" value="noreply@devlec.com" />
    <!--[ME] Greetings 페이지 -->
    <add key="GREET_PAGE" value="/Account/Greetings" />
    <add key="LOGIN_PAGE" value="/Account/Login" />
    <!--[ME] 파일업로드를 Azure Storage를 사용할건지(true) Local Storage를 사용할건지(false) -->
    <add key="AZURE_STORAGE_ENABLE" value="true" />
    <!--[ME] Azure Blob Storage Account ConnectionString -->
    <add key="AZURE_STORAGE_ACCESSKEY" value="DefaultEndpointsProtocol=https;AccountName=redplusboardfiles;AccountKey=gxfqSNqqfxgghCU0qP1P0cuEUtJzJT3WiGvsrwcCGcoRLHo5oKHcG4DJdo3vr7Y4h7twluiU9o6aRRdSI2xgQg==" />
    <!--[ME] Azure Blob Storage Container Name -->
    <add key="AZURE_STORAGE_CONTAINERNAME" value="dotnetkoreafiles" />
    <add key="AZURE_STORAGE_SUBFOLDER" value="DotNetKorea" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Integrated Security=True;Initial Catalog=SupportManager;Data Source=(localdb)\MSSQLLocalDb;" providerName="System.Data.SqlClient" />
    <add name="ConfContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=ConfContext-20160807071048; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ConfContext-20160807071048.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5" />
    <!--<pages theme="Red"></pages>-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <!-- 메일을 보내기위한 SMTP 설정 -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="youremail@yourdomain.com">
        <network host="localhost" defaultCredentials="true" />
        <!--<network host="smtp.live.com" port="587" 
          userName="youremail@yourdomain.com" password="password" />-->
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- Windows 10에서는 아래 코드를 주석처리해야 함 -->
    <!--<staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>-->
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>