/*[!] 색상 관련 기본 스타일 */
.me .bg-black {
    background-color: #000000 !important;
}

.me .bg-white {
    background-color: #ffffff !important;
}

.me .bg-lime {
    background-color: #a4c400 !important;
}

.me .bg-green {
    background-color: #60a917 !important;
}

.me .bg-emerald {
    background-color: #008a00 !important;
}

.me .bg-teal {
    background-color: #00aba9 !important;
}

.me .bg-cyan {
    background-color: #1ba1e2 !important;
}

.me .bg-cobalt {
    background-color: #0050ef !important;
}

.me .bg-indigo {
    background-color: #6a00ff !important;
}

.me .bg-violet {
    background-color: #aa00ff !important;
}

.me .bg-pink {
    background-color: #dc4fad !important;
}

.me .bg-magenta {
    background-color: #d80073 !important;
}

.me .bg-crimson {
    background-color: #a20025 !important;
}

.me .bg-red {
    background-color: #e51400 !important;
}

.me .bg-orange {
    background-color: #fa6800 !important;
}

.me .bg-amber {
    background-color: #f0a30a !important;
}

.me .bg-yellow {
    background-color: #e3c800 !important;
}

.me .bg-brown {
    background-color: #825a2c !important;
}

.me .bg-olive {
    background-color: #6d8764 !important;
}

.me .bg-steel {
    background-color: #647687 !important;
}

.me .bg-mauve {
    background-color: #76608a !important;
}

.me .bg-taupe {
    background-color: #87794e !important;
}

.me .bg-gray {
    background-color: #555555 !important;
}

.me .bg-dark {
    background-color: #333333 !important;
}

.me .bg-darker {
    background-color: #222222 !important;
}

.me .bg-transparent {
    background-color: transparent !important;
}

.me .bg-darkBrown {
    background-color: #63362f !important;
}

.me .bg-darkCrimson {
    background-color: #640024 !important;
}

.me .bg-darkMagenta {
    background-color: #81003c !important;
}

.me .bg-darkIndigo {
    background-color: #4b0096 !important;
}

.me .bg-darkCyan {
    background-color: #1b6eae !important;
}

.me .bg-darkCobalt {
    background-color: #00356a !important;
}

.me .bg-darkTeal {
    background-color: #004050 !important;
}

.me .bg-darkEmerald {
    background-color: #003e00 !important;
}

.me .bg-darkGreen {
    background-color: #128023 !important;
}

.me .bg-darkOrange {
    background-color: #bf5a15 !important;
}

.me .bg-darkRed {
    background-color: #9a1616 !important;
}

.me .bg-darkPink {
    background-color: #9a165a !important;
}

.me .bg-darkViolet {
    background-color: #57169a !important;
}

.me .bg-darkBlue {
    background-color: #16499a !important;
}

.me .bg-lightBlue {
    background-color: #4390df !important;
}

.me .bg-lightRed {
    background-color: #ff2d19 !important;
}

.me .bg-lightGreen {
    background-color: #7ad61d !important;
}

.me .bg-lighterBlue {
    background-color: #00ccff !important;
}

.me .bg-lightTeal {
    background-color: #45fffd !important;
}

.me .bg-lightOlive {
    background-color: #78aa1c !important;
}

.me .bg-lightOrange {
    background-color: #c29008 !important;
}

.me .bg-lightPink {
    background-color: #f472d0 !important;
}

.me .bg-grayDark {
    background-color: #333333 !important;
}

.me .bg-grayDarker {
    background-color: #222222 !important;
}

.me .bg-grayLight {
    background-color: #999999 !important;
}

.me .bg-grayLighter {
    background-color: #eeeeee !important;
}

.me .bg-blue {
    background-color: #00aff0 !important;
}

.me .fg-black {
    color: #000000 !important;
}

.me .fg-white {
    color: #ffffff !important;
}

.me .fg-lime {
    color: #a4c400 !important;
}

.me .fg-green {
    color: #60a917 !important;
}

.me .fg-emerald {
    color: #008a00 !important;
}

.me .fg-teal {
    color: #00aba9 !important;
}

.me .fg-cyan {
    color: #1ba1e2 !important;
}

.me .fg-cobalt {
    color: #0050ef !important;
}

.me .fg-indigo {
    color: #6a00ff !important;
}

.me .fg-violet {
    color: #aa00ff !important;
}

.me .fg-pink {
    color: #dc4fad !important;
}

.me .fg-magenta {
    color: #d80073 !important;
}

.me .fg-crimson {
    color: #a20025 !important;
}

.me .fg-red {
    color: #e51400 !important;
}

.me .fg-orange {
    color: #fa6800 !important;
}

.me .fg-amber {
    color: #f0a30a !important;
}

.me .fg-yellow {
    color: #e3c800 !important;
}

.me .fg-brown {
    color: #825a2c !important;
}

.me .fg-olive {
    color: #6d8764 !important;
}

.me .fg-steel {
    color: #647687 !important;
}

.me .fg-mauve {
    color: #76608a !important;
}

.me .fg-taupe {
    color: #87794e !important;
}

.me .fg-gray {
    color: #555555 !important;
}

.me .fg-dark {
    color: #333333 !important;
}

.me .fg-darker {
    color: #222222 !important;
}

.me .fg-transparent {
    color: transparent !important;
}

.me .fg-darkBrown {
    color: #63362f !important;
}

.me .fg-darkCrimson {
    color: #640024 !important;
}

.me .fg-darkMagenta {
    color: #81003c !important;
}

.me .fg-darkIndigo {
    color: #4b0096 !important;
}

.me .fg-darkCyan {
    color: #1b6eae !important;
}

.me .fg-darkCobalt {
    color: #00356a !important;
}

.me .fg-darkTeal {
    color: #004050 !important;
}

.me .fg-darkEmerald {
    color: #003e00 !important;
}

.me .fg-darkGreen {
    color: #128023 !important;
}

.me .fg-darkOrange {
    color: #bf5a15 !important;
}

.me .fg-darkRed {
    color: #9a1616 !important;
}

.me .fg-darkPink {
    color: #9a165a !important;
}

.me .fg-darkViolet {
    color: #57169a !important;
}

.me .fg-darkBlue {
    color: #16499a !important;
}

.me .fg-lightBlue {
    color: #4390df !important;
}

.me .fg-lighterBlue {
    color: #00ccff !important;
}

.me .fg-lightTeal {
    color: #45fffd !important;
}

.me .fg-lightOlive {
    color: #78aa1c !important;
}

.me .fg-lightOrange {
    color: #c29008 !important;
}

.me .fg-lightPink {
    color: #f472d0 !important;
}

.me .fg-lightRed {
    color: #ff2d19 !important;
}

.me .fg-lightGreen {
    color: #7ad61d !important;
}

.me .fg-grayDark {
    color: #333333 !important;
}

.me .fg-grayDarker {
    color: #222222 !important;
}

.me .fg-grayLight {
    color: #999999 !important;
}

.me .fg-grayLighter {
    color: #eeeeee !important;
}

.me .fg-blue {
    color: #00aff0 !important;
}
