
@{
    ViewBag.Title = "할 일 등록";
}

<h2>할 일 등록</h2>

<form action="/Tasks/CreateProcess" method="post">

    할일제목: <input type="text" name="title" value="" /><br />

    <input type="submit" value="저장" />

</form>
