@{
    ViewData["Title"] = "Home Page";
}

<form action="/Home/Index" method="post">

    <h1>CKEditor 적용</h1>

    <textarea id="editor" name="editor"></textarea>

    <input type="submit" name="btnSubmit" value="전송" />

    <script src="~/scripts/ckeditor/ckeditor.js"></script>

    <script>
        CKEDITOR.replace('editor');
    </script>

</form>
<hr />
@Html.Raw(ViewBag.EditorText)
